html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-color: #2c2141;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.highlight {
    font-weight: normal;
    color: #ED6D05;
}

.person {
    background-color: #f8f8f8;
    border-radius: 16px;
    max-width: 624px;
    margin: 16px;
    padding: 32px;
}

.person__desription {
    line-height: 22px;
}

.person__info {
}

.person__link {
    text-decoration: none;
    color: #E20613;
}

.person__name {
    font-weight: normal;
    margin: 0;
}

.person__photo {
    max-width: 148px;
    border-radius: 50%;
}

.person__title {
    font-style: italic;
    margin: 0;
}
